<% include ../partials/header %>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title text-center" id="name">
                    <br>
                    Dodaj bootcamp
                </div>
                <div class="card-body">
                    <form action="/bootcamps" method="post" enctype="multipart/form-data">
                        <p class="normalf">Wpisz nazwę bootcampa</p>
                        <input type="text" name="title" class="form-control" placeholder="Nazwa bootcampa">
                        <br>
                        <p class="normalf">Wpisz imiona i nazwiska instruktorów</p>
                        <input type="text" name="instructor" class="form-control" placeholder="Imiona i nazwiska instruktorów">
                        <br>
                        <p class="normalf">Wpisz postęp</p>
                        <input type="number" name="progress" class="form-control" placeholder="Postęp">
                        <br>
                        <p class="normalf">Wpisz link do kursu</p>
                        <input type="text" name="link" class="form-control" placeholder="Link do kursu">
                        <br>
                        <p class="normalf">Wybierz zdjęcie</p>
                        <input type="file" name="profile">
                        <br>
                        <br>
                        <input type="submit" value="Dodaj bootcamp" class="btn btn-outline-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>